@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

@media screen and (min-device-pixel-ratio: 2), 
screen and (min-resolution: 192dpi), 
screen and (min-resolution: 2dppx) 
screen and (min-width:1158px){
  .hero-image{
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office1@2x.jpg');
}
}

@media screen and (min-width:1158px){
    .header-container {
      display: flex;
      align-items: center;
    }
    
    
    .header-class{
      display: flex;
      align-items: center;
    }
    

    .address-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
    }
    
    
    .address-links .link {
      font-weight: 400;
      line-height: 1.5;
      font-size: 16px;
      letter-spacing: 0.02em;
      color: var(--maincolor);
      transition: color 250ms var(--cubic);
    }
    
    
    .hero-image{
      background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office1@1x.jpg');
    max-width: 1440px;
      padding: 188px 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 72px;
      width:100%;
    }
    
    .hero-text {
      font-weight: 700;
      font-size: 56px;
      line-height: 1.07;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 40px;
      max-width: 496px;
    }
    
    
    .features {
      flex-basis: calc((100% - 72px) / 4);
    }
    
    
    .features-list {
       flex-direction: row;
      flex-wrap: nowrap;
      gap: 24px;
    }
    
    
  .features-title {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: var(--maincolor);
      background-color: var(--backgroundcolor);
      margin-bottom: 8px;
    }
  
  .feature-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--maincolor);
  }
    
    .features-section {
      padding: 120px 0;
    }
  
    .features-icon-container{
      background-color: var(--secondarycolor);
      width: 264px;
      height: 112px;
      align-items: center;
      list-style: none;
      display: flex;
      border-radius:4px;
  margin-bottom: 8px;
  justify-content: center;
    }
  
    .features-list-icon{
      fill: var(--textcolor) ;
    }
  
    .features-description{
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
    
    
    
    
    
    .work-mission{
        display: block;
      padding-bottom: 120px;
    }
    
    
    .work-mission-title{
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--textcolor);
      margin-top: 0;
      margin-bottom: 72px;
    }
    
    
    .work {
      display: flex;
      gap: 24px;
    }
    
    
    .work-image {
      display: block;
      flex-basis: calc((100% - 3 * 16px) / 3);
    }
    
    
    .our-team{
      padding:120px 0;
    }
    
    
    .team-card {
      flex-basis: calc((100% - 72px) / 4);
    }
    
    
    .employee {
      display: flex;
      gap: 24px;
    }
  
    .customers-section{
        padding: 120px 0;
      }
    
  .customers{
    gap: 24px;
  }
  .customers-list-link{
  width:100%;
  height:100%;
      }
  
      .customer-list-item{
      width: calc((100% - 120px) / 6);
      height: 88px;
      }


      /*PORTFOLIO PAGE*/
    .buttons-item {
      font-weight: 500;
      font-size: 16px;
      font-family: var(--fontfamily);
      line-height: 1.5;
      text-align: center;
      letter-spacing: 0.04em;
      color: var(--logowebcolor);
      background-color: var(--secondarycolor);
      cursor: pointer;
      border-radius: 4px;
      padding: 12px 24px;
      border: 1px solid var(--btnbordercolor);
      transition: background-color 250ms var(--cubic), color 250ms var(--cubic), border 250ms var(--cubic), box-shadow 250ms var(--cubic); 
    }
    
    
    .buttons-item:hover,
    .buttons-item:focus,
    .buttons-item:active {
      color: var(--backgroundcolor);
      background-color: var(--activebackbtncolor);
      border: 1px solid transparent;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
    }
    
    
    .buttons-section {
      padding: 96px 0 120px;
    }
    
    
    .buttons-list {
      display: flex;
      justify-content: center;
      gap: 24px;
      margin-bottom: 72px;
    }
    
    
    
    .portfolio {
display:flex;
flex-direction: row;
flex-wrap: wrap;
gap: 24px;
row-gap: 48px;
flex-basis: calc((100% - (672px *3)) / 2);
    }
    
    
    .portfolio .title {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: var(--textcolor);
    }
    
    
    .portfolio .subtitle {
      font-family: var(--fontfamily);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--maincolor);
    }
    
    
    .app-portfolio-container {
      padding: 32px 16px;
      border: 1px solid var(--btnbordercolor);
      border-top: 0;
    }
    
  
    .portfolio-link:hover .portfolio-flip-card,
    .portfolio-link:focus .portfolio-flip-card{
  transform: translate(0, 0);
    }
  
    .portfolio-link{
      transition: box-shadow 250ms var(--cubic); 
    }
    
    .portfolio-link:hover,
    .portfolio-link:focus{
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
  
    .portfolio-box{
      position:relative;
      display:block;
      overflow:hidden;
    }
    
    .portfolio-flip-card{
      position:absolute;
      bottom:0;
      left:0;
      width:100%;
      height:100%;
      padding-top:40px;
      padding-left:32px;
      padding-right:32px;
      text-align: justify;
  color: var(--secondarycolor);
  background-color: var(--logowebcolor);
  mix-blend-mode: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translate(0,100%);
  transition: transform 250ms var(--cubic); 
  }    
  
  /*PORTFOLIO PAGE*/
    
    
    .footer {
      background-color: var(--textcolor);
      padding: 100px 0;
    }
    .footer-tablet-row{
        gap:0;
        margin-bottom: 0;
    }
.footer-logo-container{
    margin-right:120px;}
    
  
    .footer-all{
      flex-direction: row;
      align-items: baseline;
      justify-content: start;
    }
  
  
    .footer-social{
      width: 208px;
      height: 80px;
      left: 540px;
      top: 2988px;
    }
  
    .footer-form-input{
  padding: 8px 16px;
    }
    
    .footer-contact-form{
      align-items: center;
      margin-left: auto;
    }
}