@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px){
.customers-section  .container{
  padding-left:108px;
  padding-right:108px;
 }
 .footer .container {
 padding-left:108px;
 }
 }
@media screen and (min-width: 768px) {
    .mobile-menu-overlay{
    display:none;
    }
    
    .mobile-menu-icon{
    display:none;
    }
    
    .mobile-menu-overlay.js-menu-container{
    display: none;
    }
    .mobile-menu-open.js-open-menu{
    display:none;
     }
    
     .header-container{
      display:flex;
      align-items: center;
      flex-wrap: nowrap;
     }
    
     .header {
      /*position:fixed;*/
      border-bottom: 1px solid var(--btnbordercolor);
      box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    z-index: var(--header-idx);
    background-color: var(--backgroundcolor);
    width:100%;
    top:0;
    left:0;
    }
    
    .header-class{
      display: flex;
      align-items: center;
    }
    
     .nav-menu {
      display:flex;
      align-items: center;
      flex-wrap: nowrap;
     }
    
     .nav{
      margin:0;
      }
    
      
      .address-links {
        display: flex;
      flex-direction: column;
      gap:12px;
    }
    .address-links .link {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: var(--maincolor);
      transition: color 250ms var(--cubic);
    }
    

      .hero-image{
        background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/People-office-tablet@1x.jpg');
      width: 768px;
        margin-left: auto;
        margin-right: auto;
       /* margin-top: 72px;*/
        padding-bottom: 96px;
        padding-top: 112px;
      }
      
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),(min-resolution: 2dppx) {
        .hero-image{
          background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/People-office-tablet@2x.jpg');
        }
      }

      .hero-text {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
        width: 496px;
      }
      
    
    .features-section{
      padding-top: 96px;
      padding-bottom:24px;
    }
      .features-list {
      flex-direction: row;
      flex-wrap: wrap;
        gap: 24px;
        padding-inline-start: 0;
      }

      .features {
        flex-basis: calc((100% - 24px) / 2)
      }
    
    
    .features-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      text-transform: capitalize;
      color: var(--maincolor);
        background-color: var(--backgroundcolor);
        margin-bottom: 8px;
      }
    
      .features-icon-container{
       display:none;
      }
    
      .features-description{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 48px;
      }
      
      .work-mission{
        display: none;
    }

    
    .our-team{
      padding-top:96px;
      padding-bottom:96px;
    }

    
    .master-card {
      width:100%;
    }
    
    
    .team-emp{
      text-align: center;
    }
  
    
    .employee {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: start;
      gap: 24px;
    }
  
    
    .social-list{
    padding-left: 0;
    }
    
    .customers-section{
        padding-top:96px;
        padding-bottom:96px;
      }
    
    
      .customers{
  flex-wrap:wrap;
  gap: 72px 24px;

      }
 
    .customers-list-link{
        width: 168px;
        height: 88px;
    }
 
      .customer-list-item{
        align-items: center;
        }
      
/*PORTFOLIO PAGE*/
    
    .buttons-section {
      padding-top: 64px;
    }
    
    
    .buttons-list {
      justify-content: center;
      margin-bottom: 72px;
    }
    
    
    
    .portfolio {
      flex-wrap: wrap;
      gap: 24px;
      row-gap: 72px;
      margin-bottom: 96px;
    }
    
        /*PORTFOLIO PAGE*/
    
    
    .footer {
      padding-top: 96px;
padding-bottom:96px;
    }
    

    .footer-description{
      margin-top:  16px;
    }
    .footer-all{
      flex-direction: column;
      justify-content: center;
      gap: 24px;
    }
    
    .footer-tablet-row{
      display: flex;
      gap: 24px;
      margin-bottom: 72px;
    }
    .footer-social{
      width: 208px;
      height: 80px;
    }
    
    .social-list-bottom{
      padding-inline-start: 0;
    }

    .footer-form-container{
    gap:24px;
    }
  
    .footer-form-input{
    padding: 8px 16px;
    width:264px;
    }
    
    .footer-contact-form{
      /* width: 165px; */
      align-items: center;
    }
    .footer-form-subscribe{
          min-width: 165px;
          height: 40px;
    }
    }
